html {
    height: 100%;
    width: 100%
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background: #ffffff;
  line-height: 16px;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 100px;
  text-align: center;
}

header img {
  margin: 0px auto 0px auto;
}

h4 {
  color: #333;
  font-size: 18pt;
  font-weight: normal;

}

.line {
  width: 100%;
  margin:0;
  padding:0;
  display:inline-block;
  list-style-type:none; 
}

.line li {
  display:inline-block;
  list-style-type:none;
}

.line hr:first-child {
  /*width:450px;*/
  float:left;
}

.line hr {
  /*width:450px;*/
  float:right;
}

.line li p {
  position:relative;
  top:-4px;
}

#bottomContainer {
  color:#555;
  height:100%;
  width:100%;
  /*margin:0 0 150px 0*/
  position: relative;
  overflow:visible;
}

#bottomContainer h3 {
  font-size: 20pt;
  line-height: normal;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0;
  text-align: center
}

#policies {
  float: left;
}

#continu {
  float: right;
}

#policies,
#continu {
  position: relative;
  display: inline-block;
  background-color: #F3F3F3;
  font-size: 12px !important;
  padding: 0 20px 0;
  height: 100%;
  width: 100%;
}

#policies ul,
#continu ul {
  text-align: left;
  margin-left: -25px;
  width: 95%

}

#policies li,
#continu li {
  margin-bottom: 15px;
  line-height: normal;
  font-size: 28pt !important;
}



#continu h5 {
  margin-bottom: -5px;
  color: blue;

}

@media (min-device-width: 801px) {
  #policies,
  #continu {
    padding: 0px 10px 20px;
    height: 1186px;
    width: 435px;
  }

  #continu {
    clear: right;;
  }

  body {
    max-width: 920px;
    padding: 0;
  }

  #policies ul,
  #contiu ul {
    width: 100%
  }

  #policies li,
  #continu li {
    margin-bottom: 5px;
    line-height: 14px;
    font-size: 12px !important;
  }

  h4 {
    font-size: 16px;

  }

  #bottomContainer h3 {
    font-size:17px;
  }

}
