body {
  background: #ffffff;
  line-height:16px;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  max-width: 920px;
  margin: 0 ;
  padding: 0 ;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 100px;
  text-align:center;
}

header img {
  margin: 0px auto 0px auto;
}

h4 {
  color:#333;
  font-size:16px;
  font-weight:normal;

}
.line {
  margin:0;
  padding:0;
  display:inline-block;
  list-style-type:none; 
}

.line li {
  display:inline-block;
  list-style-type:none;
}

.line hr:first-child {
  width:450px;
  float:left;
}

.line hr {
  width:450px;
  float:right;
}

.line li p {
  position:relative;
  top:-4px;
}

#bottomContainer {
  color:#555;
  min-height:100%;
  clear:both;
  width:100%;
  margin:0 0 150px 0;
  position: relative;
  overflow:hidden;
}

#bottomContainer h3 {
  font-size:17px;
  font-weight:normal;
  padding-bottom:20px;
  margin:0;
  text-align:center
}

#policies, #continu {
  background-color:#F3F3F3;
  font-size:12px !important;
  padding: 0px 10px 20px;
  float: left;
  height:1186px;
  width: 435px;
}

#policies ul {
  text-align: left;
  margin-left: -25px;

}

#policies li, #continu li {
  margin: 0px 0px 5px 0px;
  line-height:14px;
  font-size:12px !important;
}


#continu {
  position:relative;
  display:inline-block;
  height:1186px;
  float: right;
  font-size:12px;

}

#continu h5 {
  margin-bottom: -5px;
  color:blue;

}

#continu ul {
  text-align: left;
  margin-left: -25px;

}

@media only screen 
  and (min-device-width: 320px) {
  #policies,
  #continu {
    width: 100%;
    font-size:16px !important;
  }

  #continu {
    float:left;
    clear:both;
  }
