html {
    width: 100%
}

body {
  width: 100%
}

#appWrapper {
    background: #ffffff;
    line-height: normal;
    font-size: 24pt;
    color: #555;
    width: auto;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#appWrapper header {
    height: 100px;
    width: 100%;
    text-align: center;
}

#appWrapper header img {
    height: 96px;
    width: 480px;
    margin: 0px auto;
}

#appWrapper h4 {
    color: #333;
    font-size: 32px;
}

#appWrapper .line {
    display:inline-block;
    font-size: 12px;
    text-align: center;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
    line-height: 16px;
}

#appWrapper .line li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}

#appWrapper .line hr:first-child {
    width: 450px;
    float: left;
}

#appWrapper .line hr {
    width: 450px;
    float: right;
}

.line li p {
    position:relative;
    top: -30px;
}

#topContainer {
    position: relative;
    height: auto;
    min-height: 700px;
}


#appWrapper table {
    border-collapse: collapse;
}

#descr {
    position: relative;
    bottom: 0;
    width: 100%;
    top: 800px;
    height: auto;
    margin-bottom: 1000px;
}

span.descr {
  display: block;
  height: auto;
  width: auto;
}

.contentTag {
    font-weight: 400;
}

.title {
    padding-top: 15px;
    font-weight: 400;
    background: white;
    text-align: left;
    width:100%;
    color: #777;
    font-size: 24px;
}

#appWrapper td:first-child {
    font-size: 20pt;
    padding-right: 10px;
    text-align: left;
}

#appWrapper td {
    font-weight: 200;
    font-size: 24pt;
    padding: 7px 0;
}

#appWrapper td:nth-child(even) {
    text-align: right;
}

#appWrapper td:nth-child(odd) {
    text-align: left;
}

#appWrapper tr {
    width: 100%;
}

#appWrapper tr:nth-child(even) {
    background: #ddd;
}

#appWrapper tr:nth-child(odd) {
    background: #eee;
}

#appWrapper table,
#appWrapper tr,
#appWrapper tbody {
    width: 100%;
}

#imageGallery {
    position: absolute;
    width: 100%;
    min-height: 600px;
    max-height: 800px;
    top: 0;
}

#images {
    margin:0 auto;
    width: 600px;
    padding: 0;
}

#images img {
    display: table-cell;
    max-width: 600px;
    max-height: 600px;
}

#thumbsHolder {
    text-align: center;
    min-height: 100px;
    width: 100%;
    margin: 20px auto 20;
    line-height: 10px;
}

#thumbnails {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    list-style-type: none;
}
#thumbnails li:first-child {
  margin-left: 0;
}

#thumbnails li {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 10px;
}

#appWrapper footer {
    position: relative;
    text-align: center;
    clear: both;
    height: 20px;
    color: white;
    background-color: black;
    width: 100%;
    bottom: 0;
    padding:10px 0 20px;
}

iframe {
  position: relative;
}

@media (min-device-width: 801px) {

   #appWrapper {
     background: #ffffff;
     line-height:16px;
     font-size: 12px;
     color: #555;
     max-width: 920px;
     margin: 0 auto;
     padding: 0 10px 0 10px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

   }

   #descr {
       top: 0;
       width: 270px;
       min-height: 700px;
       float: right;
       padding-right: 10px;
       z-index: 1;
       margin-bottom: 0;
   }

   #imageGallery {
     text-align: center;
     padding: 0;
     float: left;
     width: 920px;
     min-height: auto;
     height: 600px;
   }

   #images {
     margin: 0;
     padding: 0;
     width: 600px;
     height: 600px;
     list-style-type: none;
   }

    #images img:first-child {
        max-width: 600px;
        max-height: 600px;
        display: block;
    }

   #thumbsHolder {
     width: 600px;
     text-align: right;
     margin: 20px 40px 0 0
   }

   #thumbnails li {
     width: 84px;
     height: 84px;
     margin-left: 0.286%;
     margin-top: 0.45%;
   }

   #appWrapper td:first-child {
       color: #333;
       font-size: 9pt;
   }

   #appWrapper td {
       font-size: 12px;
   }

   .title {
     padding-top: 5px;
     font-size: 12px;

   }

   #appWrapper footer {
     bottom: 0;
     position: relative;
     top: 0;
     padding: 10px 0;
     left: -10px;
   }

   #appWrapper h4 {
       color: #333;
       font-size: 16px;
   }

   iframe {
     position: relative;
     top: 0;
     width: 920px;
     height: 1500px;
   }
}
