html {
    width: 100%
}

#appWrapper {
    background: #ffffff;
    line-height: normal;
    font-size: 24pt;
    color: #555;
    max-width: 920px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#appWrapper header {
    height: 100px;
    width: 100%;
    text-align: center;
}

#appWrapper header img {
    height: 96px;
    width: 480px;
    margin: 0px auto;
}

#appWrapper h4 {
    color: #333;
    font-size: 32px;
}

#appWrapper .line {
    line-height: 16px;
    font-size: 12px;
    margin:0;
    padding:0;
    width:100%;
    display:inline-block;
    list-style-type:none;
}

#appWrapper .line li {
    display: inline-block;
    list-style-type: none;
}

#appWrapper .line hr:first-child {
    width: 450px;
    float: left;
}

#appWrapper .line hr {
    width: 450px;
    float: right;
}

.line li p {
    position:relative;
    top: -4px;
}

#topContainer {
    position: relative;
    overflow: auto;
    height: 90%;
    min-height: 700px;
}


#appWrapper table {
    border-collapse: collapse;
}

#descr {
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 800px;
}

.contentTag {
    font-weight: 400;
}

.title {
    padding-top: 15px;
    font-weight: 400;
    background: white;
    text-align: left;
    width:100%;
    color: 777;
    font-size: 24px;
}

#appWrapper td:first-child {
    color: #333;
    font-size: 18pt;
    padding-right: 10px;
    text-align: left;
}

#appWrapper td {
    font-weight: 200;
    font-size: 24pt;
    padding: 7px 0;
}

#appWrapper td:nth-child(even) {
    text-align: right;
}

#appWrapper td:nth-child(odd) {
    text-align: left;
}

#appWrapper tr {
    width: 100%;
}

#appWrapper tr:nth-child(even) {
    background: #ddd;
}

#appWrapper tr:nth-child(odd) {
    background: #eee;
}

#appWrapper table,
#appWrapper tr,
#appWrapper tbody {
    width: 100%;
}

#imageGallery {
    width: 100%;
    min-height: 640px;
    max-height: 800px;
    top: 0;
}

#images {
    margin:0 auto;
    width: 600px;
    padding: 0;
}

#images img {
    display: table-cell;
    max-width: 600px;
    max-height: 600px;
}

#thumbsHolder {
    text-align: center;
    min-height: 100px;
    width: 100%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 10px;
}

#thumbnails {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    list-style-type: none;
}
#thumbnails li:first-child {
  margin-left: 0;
}

#thumbnails li {
    display: inline-block;
    width: 84px;
    height: 84px;
    overflow: hidden;
    margin-left: 10px;
}

#appWrapper footer {
    text-align: center;
    clear: both;
    height: 20px;
    color: white;
    background-color: black;
    width: 920px;
    left: -10px;
    bottom: 0;
    position: relative;
    top: 1500;
    padding:10px 0;
}

iframe {
  position: relative;
  top: 1400px;
}

@media (min-device-width: 801px) and (-webkit-min-device-pixel-ratio: 2) {
  #appWrapper {
    line-height: 16px;
    font-size: 12px;

  }

  #appWrapper h4 {
      color: #333;
      font-size: 16px;
  }

  #topContainer {
    min-height: 700px;
    height: auto;
    overflow: hidden;
  }

  #descr {
      position: relative;
      top: 0;
      width: 270px;
      min-height: 700px;
      float: right;
      padding-right: 10px;
  }

  #imageGallery {
    text-align: center;
    margin: 20px 0 0;
    padding: 0;
    float: left;
    width: 640px;
    min-height: 640px;
  }

  #images {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    list-style-type: none;
    text-align: left;
  }

  #thumbsHolder {
    width: 600px;
    text-align: right;
  }

  #thumbnails li {
    margin-left: 0.286%;
    margin-top: 0.45%;
  }

  #appWrapper td:first-child {
      color: #333;
      font-size: 9pt;
  }

  #appWrapper td {
      font-size: 12px;
  }

  .title {
    padding-top: 5px;
    font-size: 12px;

  }

  #appWrapper footer {
    bottom: 0;
    position: relative;
    top: 0;
  }

  iframe {
    position: relative;
    top: 0;
  }
}
