/* IE (all versions) */
/* ----------------------------------------- */

.ie7img{position:absolute;top:-70px;}
#logo_conrt{position:relative;top:25px;}
.contact{position:relative;top:120px;}
.ienav{position: relative;top:-85px;}
.iealt_nav{position:relative;}
.menu-nav-container li{padding-top:5px;}
.socialmedia-buttons {float:left; text-align:left;}
.xoxo blogroll li {width:150px;float:left; text-align:left;}
.xoxo blogroll li a {width:150px;float:left; text-align:left;}