#header	{top:0px;width:inherit; height:50px; background-color:#662999;}
#container	{position:relative;top:0px; margin:0 auto; width:1024px;}
#comingsoon {position:absolute; top:0px; z-index:2; margin-left:0px auto; margin-right:0 auto;}